* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: dimgrey;
}

h1, h2, h3, h4, h5, h6 {
    color: darkcyan;
}

div.wrapper {
    width: 800px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    margin: 16px auto;
}

main {
    width: 100%;
    min-height: 520px;
    margin: 16px auto;
}

footer {
    width: 100%;
    margin: 16px auto;
    display: flex;
    justify-content: space-around;
}

/* software */
ul.software {
    padding-left: 0;
}

ul.software li {
    margin: 4px 0;
    list-style-type: none;
}

ul.software a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.software img {
    width: 80px;
}

ul.software div.desc {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

ul.software span.name {
    font-size: x-large;
}

ul.software span.more {
    font-weight: lighter;
}

/* education */
ul.education {
    padding-left: 0;
}

ul.education li {
    margin: 16px 0 16px 2px;
    list-style-type: none;
    border-left: 4px darkcyan solid;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

ul.education a {
    text-decoration: none;
}

ul.education span.institute {
    font-size: larger;
}

/* publication */
ul.publication {
    padding-left: 0;
}

ul.publication li {
    margin: 16px 0 16px 2px;
    list-style-type: none;
    border-left: 4px darkcyan solid;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

ul.publication a {
    text-decoration: none;
}

ul.publication span {
    margin: 2px 0;
}

ul.publication span.info span {
    margin-right: 16px;
}

ul.publication span.title {
    font-size: large;
}

ul.publication span.journal {
    font-style: italic;
}
