* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: dimgrey;
}

h1, h2, h3, h4, h5, h6 {
    color: darkcyan;
}

body, header, main, footer {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.header, div.main, div.footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    padding: 4px;
}

div.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.main {
    min-height: 600px;
    padding: 16px;
}

div.footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.header a, div.footer a {
    text-decoration: none;
}

.author span.me {
    text-decoration-line: underline;
}

span.journal {
    font-style: italic;
}

ul.items {
    padding-left: 0;
}

ul.items > li {
    list-style-type: none;
    margin: 16px 0 16px 2px;
    border-left: 4px darkcyan solid;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

ul.items > li > .row, ul.items h3 {
    margin: 4px 0;
}

ul.items > li > .row.meta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul.items > li > .row.meta > * {
    margin-left: 16px;
}

ul.items > li > .row.meta > :first-child {
    margin-left: 0;
}

ul.items > li a {
    text-decoration: none;
}

ul.items.logo > li {
    margin: 4px 0;
    border: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul.items.logo > li > .logo {
    width: 80px;
}

ul.items.logo > li > .info {
    padding-left: 16px;
}
